body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #d32f2f, #c2185b);
  }
  
  .login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
  }
  
  .login-box .forgot-password {
    font-size: 12px;
    display: block;
    margin-bottom: 15px;
    color: #333;
    text-decoration: underline;
  }
  
  .login-box button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #023b74, #033566);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  